body {
	background-image:url(../img/background.jpg);
  	font-family: "Poppins", sans-serif;
}

.jumbotron{
	opacity: 0.9;
}

header{
	margin:1% 1% 1% 1%;
}

#textCerca{
	position: absolute;
	left: 80%;
	
}

#buttonCerca{
	position: absolute;
	left: 90%;
	
}
#textNomeVideo{
	border-left-width: 20px;
}


