body {
	background-image:url(../img/background.jpg);
  	font-family: "Poppins", sans-serif;
}

.jumbotron{
	opacity: 0.9;
}

header{
	margin:1% 1% 1% 1%;
}

#textCerca{
	position: absolute;
	left: 80%;
	
}

#buttonCerca{
	position: absolute;
	left: 90%;
	
}

#textNomeVideo{
	position: absolute;
	top: 80%;
	margin-left: 7%;
	font-size: x-large;
	text-align: center;
	color: black;
	
}

.column {
  float: left;
  width: 1%;
  margin-top: 10%;
}

.content {
  float: left;
  width: 98%;
  margin-left: 5%;
  margin-right: 5%;
}



