body {
	background-image:url(../img/background.jpg);
  	font-family: "Poppins", sans-serif;
  	
}

.jumbotron{
	opacity: 0.9;
}
#jumbo1{
	margin-top:1%;
}
#jumbo2{
	margin-top:1%;
}
#jumbo3{
	margin-top:1%;
}

.spacer{
    height: 100px;
    content: "";
}

header{
	margin:1% 1% 1% 1%;
}

#textCerca{
	position: absolute;
	left: 80%;
	
}

#buttonCerca{
	position: absolute;
	left: 90%;
	
}

div.inline { float:left; }

#freccia{
	width: 2%;
}


#columnCenter{
	width: 96%;
	padding-left: 8%;
}

.nav-item{
	visibility:hidden;
}

#single_video{
	margin: 6px;
	width : 300px;
	height: 150px;
	display-inline: block;
}

#textNomeVideo{
  border: 2px solid;
  padding: 10px;
  width: 300px;
  height: 45px;
  word-break: break-all;
  white-space: pre-line;
}

#single_local_video{
	margin: 6px;
	width : 300px;
	height: 150px:

}

.carousel-control-prev-icon{
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
	  
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  
}
.carousel-inner {
   margin-bottom:50px;
}
.carousel-indicators {
  bottom:-50px;
}