body {
	background-image:url(../img/background.jpg);
  	font-family: "Poppins", sans-serif;
  	background-size: cover;
  	height: 100%;
  	overflow: hidden;
}

a {
  	color: #92badd;
  	display:inline-block;
  	font-weight: 400;
  	font-size: 22px;
}

.wrapper{
	position:relative;
	margin-left:25%;
	margin-top:10%;
  	display: flex;
  	align-items: center;
  	flex-direction: column; 
  	justify-content: center;
  	width: 100%;
  	min-height: 100%;
  	padding: 20px;
  	opacity: 0.9;
}

#formContent {
  	
  	border-radius: 10px 10px 10px 10px;
  	background: #fff;
  	
  	padding: 30px;
  	width: 90%;
  	max-width: 450px;
  	position: relative;
  	padding: 0px;
  	text-align: center;
}

#formFooter {
  	background-color: #f6f6f6;
  	border-top: 1px solid #dce8f1;
  	padding: 25px;
  	text-align: center;
  	border-radius: 0 0 10px 10px;
}



button[type=button]{
	background-color: #56baed;
  	border: none;
  	color: white;
  	padding: 15px 80px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	text-transform: uppercase;
  	font-size: 13px;
  	border-radius: 5px 5px 5px 5px;
  	margin: 25px 20px 40px 20px;
}

input[type=text] {
  	background-color: #f6f6f6;
  	border: none;
  	color: #0d0d0d;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 5px;
  	width: 85%;
  	border: 2px solid #f6f6f6;
  	border-radius: 5px 5px 5px 5px;
}
input[type=password] {
  	background-color: #f6f6f6;
  	border: none;
  	color: #0d0d0d;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 5px;
  	width: 85%;
  	border: 2px solid #f6f6f6;
  	border-radius: 5px 5px 5px 5px;
}


#icon {
	margin:10px;
	width:20%;
	height:20%;
}
