#categoria{
	display:inline-block;
		margin-right:400px;
}

#difficolta{
	display:inline-block;
	
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1500px) {
	iframe{
		width: 600px;
		height: 250px;
		}
	
	#form_commenti{
		width: 450px;
		height: 250px;
	}
	
	#lista_commenti{
		width: 450px;
		height: 250px;
	}
}
