#body{
	font-family: "Garamond";
	
}

.container{
	max-width: 85%;
}

#categoria{
	display: inline-block;
	margin-left: 5%;
}

#difficolta{
	display: inline-block;
}
​
.column {
	 margin-top:3%;
}
.row{
	 margin-top:3%
}
#cornice{
	opacity: 0.9;
	background-color:#ffffff;
	border-style: solid;
  	border-width: 5px;;
  	border-color: white;
}

#dati_video{
	margin-left: 5%; 
}
.up{
	height: 33%;
  	overflow-y: scroll;	
	margin-right: 20%;
	word-break: break-all;
  	white-space: pre-line;
}
.down{
	height: 33%;
}
.three{
	height: 33%;
	
}

iframe{
	width: 90%;
	margin-left: 5%;

    object-fit: cover;
    z-index: -100;
}
	
#form_commenti{
	
	width: 90%;
	height: 10%;
	padding-top: 5%;
	margin-right: 20%;
	
}
#rispostaCorretta{
	width:40%;
	height:70%;
	font-family: "Garamond";
	font-size:35px;
	margin-top: 1%;
	font-weight: 900;
}
#rispostaErrata{
	width:40%;
	height:70%;
	font-family: "Garamond";
	font-size:35px;
	margin-top: 1%;
	font-weight: 900;
}


#lista_commenti{
	width: 90%;
	text-align:left;
}