#body{
	font-family: "Garamond";
  	
}

#categoria{
	display: inline-block;
}

#difficolta{
	display: inline-block;
}

.row {
  display: flex;
}

.column {
	margin: 0 !important;
	padding: 0 !important;	
  	flex: 50%;
 	margin-right:10px;
}

#cornice{
	 background-color:#ffffff; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.up{
	height: 200px;
}
.down{
	height: 200px;
}
.three{
	height: 200px;
}

@media screen and (max-width: 1499px) and (min-width: 1000px) {
	
	iframe{
		
		width: 600px;
		height: 350px;
	
	}
	
	#form_commenti{
		
		width: 400px;
		height: 250px;
		padding-top: 15px;
		 margin-right: 20%;
		
	}
	
	#lista_commenti{
		width: 400px;
		height: 250px;
		overflow-y: scroll;	
		 margin-right: 20%;
		 text-align:center;
	}

	#video-placeholder{
	    width: 100px;
	    height: 100px;
	    
	}
	#controls{
	    margin-right: 20%;
	}

@media screen and (max-width: 2000px) and (min-width: 1500px){
	
	iframe{
		width: 1200px;
		height: 700px;
	}
	
	#form_commenti{
		width: 600px;
		height: 250px;
		 margin-right: 20%;
	}
	
	#lista_commenti{
		
		width: 600px;
		height: 250px;	
		 margin-right: 20%;
	}
	
	#video-placeholder{
    width: 600px;
    height: 300px;
    
	}
	#controls{
    margin-right: 40%;
	}
}


