
#body{
	font-family: "Garamond";
  	
}

#categoria{
	display: inline-block;
}

#difficolta{
	display: inline-block;
}

.row {
  display: flex;
}

.column {
	margin: 0 !important;
	padding: 0 !important;	
  	flex: 50%;
  	float:right;
  	border-right:1px solid black;
}



#cornice{
	 background-color:#ffffff;
	 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.up{
	height: 33%;
}
.down{
	height: 33%;
}
.three{
	height: 33%;
}
@media screen and (max-width: 1499px) and (min-width: 1000px) {
	
	iframe{
		
		width: 600px;
		height: 350px;
	
	}
	
	#form_commenti{
		
		width: 400px;
		height: 250px;
		padding-top: 15px;
		
	}
	
	#lista_commenti{
		
		width: 400px;
		height: 250px;
		overflow-y: scroll;	
	}
}

@media screen and (max-width: 2000px) and (min-width: 1500px){
	
	iframe{
		width: 90%;
		height: 75%;
	}
	
	#form_commenti{
		width: 600px;
		height: 250px;
	}
	
	#lista_commenti{
		
		width: 600px;
		height: 250px;	
	}
}

#video-placeholder{
    width: 600px;
    height: 300px;
    
}
#controls{
    margin-right: 40%;
}