body {
	/*background-image:url(../img/background.jpg);*/
	background-color: #1e1a55;
  	font-family: "Poppins", sans-serif;
}

#headerHome{
	opacity: 0.9;
	background-color: #FFFFFF;
	max-width: 100%;
}

.jumbotron{
	opacity: 0.9;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

