<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
 <servlet>
  	<servlet-name>PrendiUtenti</servlet-name>
  	<servlet-class>controller.DammiUtente</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PrendiUtenti</servlet-name>
  	<url-pattern>/ottieniUtenti</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>IscrizioneUtente</servlet-name>
  	<servlet-class>controller.RegistraUtente</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>IscrizioneUtente</servlet-name>
  	<url-pattern>/inviaDatiUtente</url-pattern>
  </servlet-mapping>

</web-app>