<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
<servlet>
  	<servlet-name>Registrati</servlet-name>
  	<servlet-class>controller.Registrati</servlet-class>
 </servlet>
  
 <servlet-mapping>
  	<servlet-name>Registrati</servlet-name>
  	<url-pattern>/html/registrati</url-pattern>
 </servlet-mapping>

<servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>controller.Login</servlet-class>
 </servlet>
  
 <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/html/login</url-pattern>
 </servlet-mapping>
  
 <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>controller.Home</servlet-class>
 </servlet>
  
 <servlet-mapping>
 	<servlet-name>Home</servlet-name>
 	<url-pattern>/html/home</url-pattern>
 </servlet-mapping>

 
 <servlet>
  	<servlet-name>Ricerca</servlet-name>
  	<servlet-class>controller.Ricerca</servlet-class>
 </servlet>
  
 <servlet-mapping>
  	<servlet-name>Ricerca</servlet-name>
  	<url-pattern>/html/risultatoRicerca</url-pattern>
 </servlet-mapping>


<servlet>
  	<servlet-name>Index</servlet-name>
  	<servlet-class>controller.Index</servlet-class>
</servlet>
  
 <servlet-mapping>
 	<servlet-name>Index</servlet-name>
 	<url-pattern>/index</url-pattern>
 </servlet-mapping>



</web-app>